html
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDD;
}

.container
{
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    background-color: #fff;
}

.destaque
{
    font-weight: bold;
}


/* ############ cabecalho #########*/

.cabecalho
{
    text-align: center;
}


.titulo-primal
{
    font-size: 40px;
}

.paragrafo-principal
{
    font-style: italic;
}


/* ######################## body ######################*/


.img-destaque
{
    text-align: center;
    margin-top: 30px;
}

/* Biografia container */

.biografia-container
{
    padding: 25px 0;
    margin-top: 1px dashed #ddd;
    margin-bottom: 1px dashed #ddd;
}

/* citações */

.frase-container
{
    background-color: #ddd;
    padding: 30px;
}


.frase-container blockquote
{
    font-weight: 600;
    font-size: 30px;
}


.frase-container p 
{
    font-style: italic;
}



/* ###### Curiosidades  #######*/

.curiosidades-container li
{
    height: 30px;
}



